.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 58, 138, 0.9);
}

.login-box {
    background: rgba(255, 255, 255, 0.15);
    padding: 0.5rem;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logn-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #353268;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #4338ca;
}

.login-links {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.link-btn {
    background: none;
    border: none;
    color: #2586a3;
    font-size: 0.9rem;
    cursor: pointer;
}

.link-btn:hover {
    text-decoration: underline;
}

.social-login {
    margin-top: 15px;
}

.social-btn {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.google {
    background-color: #272525;
    color: white;
}

.naver {
    background-color: #03c78a;
    color: white;
}

.kakao {
    background-color: #fee500;
    color: #3c1e1e;
}

.socail-btn:hover {
    opacity: 0.9;
}